body{
	background-color: #061177;
}
header{
	background-color: #061177;
	height: 250px;
}
.bgvideo{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bgvideo video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 1;
}
h1{
	color: white;
	font-size: 7vw;
	text-align: center;
	z-index: 2;
}
nav,aside{
	width: 20%;
	float: left;

}
main{
	background-color: #061177;
	width: 60%;
	float: left;
}
h2{
	text-align: center;
	color: lightskyblue;
 }
footer{
	height: 30px;
	clear: both;
	background-color: lemonchiffon;
}
article{
	border: dashed 2px rgb(55, 0, 255);
	margin: 10px;
	text-align: justify;
	display: inline-block;
	width: 95%;
  font-size: 24px;
  padding: 5px;
}
@media only screen and (max-width:800px){
  nav,main,aside{
    width: 100%;
  }
}
@media only screen and (max-width:800px){
  article{
    width: 90%;
  }
}

/*Навігація*/
ul{
	list-style: none;
}
.a1{
	width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3 em;
  font-size: 30px;
  
  cursor: pointer;
  margin-bottom: 10px;
}
.a1:hover{
	color: aqua;
	background-color: blue;
}
/*buttons*/
button.b2 {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

button.b2::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #061177;
  transition: 0.5s;
  transform-origin: center;
}

button.b2::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #061177;
  transition: 0.5s;
}

button.b2:hover::before, button.b2:hover::after {
  transform: scale(0)
}

button.b2:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}
.map{
	float: right;
}
/*SMB*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 15px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.photo {
  display: block;
  margin: 0 auto;
}

.player {
  margin: 10px auto;
  width: 560px;
  height: 315px;
}
