body{
	background-color: orange;
}
marquee{
	font-size: 50px;
	
}
div{
	height: 100px;
	width: 100px;
	background-color: red;
}
@keyframes example1{
	from{background-color: red}
	to{background-color: yellow;}
}
#d1{
animation-name: example1;
animation-duration: 4s;
animation-iteration-count: infinite;
}
@keyframes example2{
	0%{background-color: red; left: 0px; top:0px}
	25%{background-color: yellow; left: 200px; top:0px}
	50%{background-color: green; left: 200px; top:200px}
	75%{background-color: blue; left: 200px; top:0px}
	100%{background-color: violet; left: 0px; top:0px}
}
#d2{
animation-name: example2;
position: relative;
animation-duration: 4s;
animation-iteration-count: infinite;
}
@keyframes example3{
	0%{background-color: red; left: 0px; top:0px}
	25%{background-color: yellow; left: 200px; top:0px}
	50%{background-color: green; left: 200px; top:200px}
	75%{background-color: blue; left: 200px; top:0px}
	100%{background-color: violet; left: 0px; top:0px}
}
#d3{
animation-name: example3;
position: relative;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-delay: -2s;
}
@keyframes example4{
	0%{background-color: red; left: 0px; top:0px}
	25%{background-color: yellow; left: 200px; top:0px}
	50%{background-color: green; left: 200px; top:200px}
	75%{background-color: blue; left: 200px; top:0px}
	100%{background-color: violet; left: 0px; top:0px}
}
#d4{
animation-name: example4;
position: relative;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-direction: reverse;
}
@keyframes example5{
	0%{background-color: red; left: 0px; top:0px}
	25%{background-color: yellow; left: 200px; top:0px}
	50%{background-color: green; left: 200px; top:200px}
	75%{background-color: blue; left: 200px; top:0px}
	100%{background-color: violet; left: 0px; top:0px}
}
#d5{
animation-name: example5;
position: relative;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes example6{
	0%{background-color: red; left: 0%; top:0%}
	100%{background-color: yellow; left: 95%; top:0%}
	
}
#d6{
animation-name: example6;
position: relative;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
@keyframes example7{
	0%{background-color: red; left: 0%; top:0%}
	100%{background-color: yellow; left: 95%; top:0%}
	
}
#d7{
animation-name: example7;
position: relative;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
@keyframes example8{
	0%{background-color: red; left: 0%; top:0%}
	100%{background-color: yellow; left: 95%; top:0%}
	
}
#d8{
animation-name: example8;
position: relative;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
}
@keyframes example9{
	0%{background-color: red; left: 0%; top:0%}
	100%{background-color: yellow; left: 95%; top:0%}
	
}
#d9{
animation-name: example9;
position: relative;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: ease-out;
}
@keyframes example10{
	0%{background-color: red; left: 0%; top:0%}
	100%{background-color: yellow; left: 95%; top:0%}
	
}
#d10{
animation-name: example10;
position: relative;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}
@keyframes example11{
	0%{background-color: red; left: 0%; top:0%}
	100%{background-color: yellow; left: 95%; top:0%}
	
}
#d11{
	position: relative;
animation: example11 4s infinite forwards alternate-reverse;
}