@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700|Kablammo|Marck+Script|Poiret+One|Rubik+Glitch+Pop|Train+One&display=swap');
body {
	background-color: lightcyan;
}

p {
	font-size: 60px;
	font-family: "Kablammo", system-ui;
	text-align: center;
	color: blue;
}
table{
	margin: auto;
	border: double 5px black;
	width: 60%;
	height: 1cm;
	font-size: 50px;
th, td{
	border: solid 1px black;
}

tr:hover{
	background-color: lightgray;
}
td:hover{
	text-transform:  uppercase;
	text-align: center;
	font-weight: 700;
	color: blue;
	background-image: url(https://i.pinimg.com/originals/e6/f8/0b/e6f80be8122d7019c37b39b02dd6ec2c.gif);
}
caption{
	font-size: 50px;
	color: black;
	background-image: url(https://i.pinimg.com/originals/e6/f8/0b/e6f80be8122d7019c37b39b02dd6ec2c.gif);	
}