body{
	background-image: url(https://i.stack.imgur.com/SvWWN.png);
	background-repeat: no-repeat;
	background-size: cover;
}
ul,ol,dl{
	font-size: 20px;
	text-shadow: 0px 0px 10px white;
	margin: 10px;
	color: yellow;
}
p{
	color: green;
	font-size: 50px;
	text-align: center;
	border: ridge 20px violet;
	}
.l1, .l4 li{
	padding-left: 10px;
}
.l2 li::marker{
	color: red;
	font-size: 1.2em;
}
@counter-style circled-digits {
  system: fixed;
  symbols: 😀 👻 👽 👾 🤖 🎃 😹 👋 👀 💋 🍉;
  suffix: " ";
}

ul.l3 {
	list-style: circled-digits;
}
	@counter-style ukr-letters {
  system: cyclic;
  symbols: а б в г д е є ж з і ;
  suffix: ")";
}
ol.l4 {
	list-style: ukr-letters ;
}
ul.l5{
background-color: purple;
width: 200px;
}
ul.l5 li{
background-color: grey;
}