body{
	background-color: lightgoldenrodyellow;
}
p{
	font-size: 50px;
}


.p1{
	background: linear-gradient(blue,purple,pink);
	color: #fff;
	text-align: center;
}
.p2{
	font-family: "Times New Roman", Times, serif;
	font-weight: 700;
	font-style: italic;
	text-decoration: underline;
	text-underline-position: under;
}
.p3{	
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: aqua;
	text-decoration-style: wavy;
}
.p4{
	font-family: "Lucida Console", Courier, monospace;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: orange;
	text-decoration-style: dotted;
}
.p5{
	font-family: "Lucida Handwriting", cursive;
	text-shadow: 2px -2px green;
	color: yellow;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: green;
	text-decoration-style: double;
}
.p6{
	font-family: "fantasy;";
	text-transform: uppercase;
	text-shadow: 2px -2px 10px pink;
	color: lightblue;
}
.p7{
	font-family: 'Lobster', sans-serif;
	text-shadow: 2px -2px 10px red;
	color: violet;
}
.p8{
	font-family: 'Rubik Glitch Pop', system-ui;
	text-transform: lowercase;
	text-shadow: 
	1px 1px 2px black,
	0 0 1em blue,
	0 0 0.2em blue;
	color: white;
}
.p9{
	font-family: 'Caveat', cursive;
	color: blue;
}
.p11{
	font-family: 'Rubik Glitch Pop', system-ui;
	color: crimson;
}
.p11 span.s2{
	color: blue;
}
.s1{
	font-size: 2em;
	color: orange;
}
.s3{
	text-decoration: underline;
	text-decoration-color: blueviolet;
	text-decoration-style: dashed;
}